<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keshe1.mapper.DepartmentMapper">
    
    <select id="selectByHospitalId" resultType="com.example.keshe1.entity.Department">
        SELECT * FROM department WHERE hospital_id = #{hospitalId}
    </select>
    
</mapper>